.container {
	padding-bottom: 30px;
}

li {
	padding: 2px 0;
}

.file-list, .file-item {
	list-style: none;
}

.file-item {
	padding: 5px 0;
}

.site-foot {
	margin-top: 15px;
}

.back-home {
	display: block;
	margin: 0 auto;
	width: 40%;
	height: 38px;
	text-align: center;
	line-height: 38px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #666;
	background-color: #282A36;
}

.back-home:hover {
	background-color: #334;
}

@media screen and (max-width: 768px) {
	.file-item .update_time {
		display: none;
	}
}